

:root {
    --bg-color-pink-darkBlue: #FCD4D6;
    --color-bg1: rgba(253, 253, 253, 0.7);
    --bg-color-pink-lightBlue: #FCD4D6;
    --bg-color-red-lightBlue: #B00D13;
    --font-red-white: #B00D13;
    --bg-color-white-darkBlue: #fff;
    --bg-color-red-orange: #B00D13;
}

.dark-theme {
    --bg-color-pink-darkBlue: #1f2641;
    --color-bg1: #2e3267;
    --bg-color-pink-lightBlue: #6c63ff;
    --bg-color-red-lightBlue: #6c63ff;
    --font-red-white: #FFF;
    --bg-color-white-darkBlue: #424890;
    --bg-color-red-orange: #f75842;
}


h2:not(:first-child) {
    margin-top: 5rem;
}


/*=============== NAVBAR =============*/
nav {
    background-color: var(--bg-color-red-lightBlue);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color-red-lightBlue);
    height: 100%;
    align-items: center; 
}

.contact__container {
    background: var(--color-bg1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}


/*=============== COURSES ============*/
.courses {
    padding-top: 10rem;
    background-image: none;
}

.course img {
    width: 100%;
}

.banks-section {
    padding-top: 0;
}
.course__info:hover {
    background-image: var(--textured-bg);
}
.logistic-section {
    background-image: var(--textured-bg);
}
.crs-section {
    background-image: var(--textured-bg);
}



/*=============== FOOTER ============*/
.footer__2 ul li a {
    color: var(--font-color-socials);
}

.footer {
    padding-top: 3rem;
}

.footer__copyright {
    margin-top: 4rem;
}



.bank__container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
