:root {
  --bg-color-red-lightBlue: #B00D13;
  --btn-bg-color: #f75842;
  --btn-border-color: #fff;
  --p-font-color: #000;
}

.dark-theme {
  --bg-color-red-lightBlue: #6c63ff;
  --btn-bg-color: transparent;
  --btn-border-color: #fff;
  --p-font-color: #fff;
}

nav {
  background-color: var(--bg-color-red-lightBlue);
}

.descarga {
  margin: 0;
  padding: 0;
}

.descarga h2 {
  margin-top: 10rem;
  padding: 0
}

.downloads {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  max-width: 80%;
  margin: 0 auto 0;
  padding: 0;
}

.download__card {
position: relative;
border: 1px solid #ccc;
border-radius: 0.3125rem;
padding: 1.25rem;
box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
transition: box-shadow 0.3s ease;
}

.download__card:hover {
box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
transform: scale(1.05);
}

.image_card {
width: 100%;
height: 13.75rem;
object-fit: cover;
}

.download__card div {
padding: 1rem;
text-align: center;
}

.download__card h3 {
color: var(--p-font-color);
font-size: 1.2rem;
font-weight: bold;
margin-bottom: 1rem;
}

.download__card p {
color: var(--p-font-color);
font-size: 0.9rem;
margin-bottom: 2rem;
}

.download-btn {
background-color: #f75842;
color: #ffffff;
border: none;
border-radius: 0.3125rem;
padding: 0.625rem 1.5rem;
width: 75%;
font-size: 1.05rem;
cursor: pointer;
transition: background-color 0.3s ease-in-out;
margin-bottom: .5rem;
}

.download-btn:hover {
background-color: var(--btn-bg-color);
border: var(--btn-border-color) solid 1px;
}

.download__card .download-btn {
position: absolute;
bottom: 0.625rem;
left: 50%;
transform: translateX(-50%);
}
