@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


:root {
    --color-avatar: #FEEFEF;
    --color-bg: none;
    --color-bg1: #fff;
    --color-bg2: #FCD4D6;
    --color-bg-categories:#2e3267;
    --color-bg-courses:#;
    --color-bg-faqs:#2e3267;
    --color-bg-footer:#FFF;
    --color-bg-footer-copyright:#B00D13;
    --color-bg-testimonials:#;
    --color-black: #000;
    --color-btn1: #fff;
    --color-btn-primary: #FFF;
    --color-btn-secondary: #f75842;
    --color-danger: ##f75842;
    --color-danger-variant: rgba(247,88,66,0.4);
    --color-header-bg: #B00D13;
    --color-light: rgba(253, 253, 253, 0.7);
    --color-primary: #B00D13;
    --color-socials: #B00D13; 
    --color-success: #1BEEA1;
    --color-toggle: #c0c0c0;
    --color-warning: #851C89;
    --color-white: #fff;
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --dark-bg:#FEEFEF;
    --font-btn-primary: #B00D13;
    --font-btn-secondary: #fff;
    --font-category-h1:#B00D13;
    --font-category-h5: #B00d13;
    --font-category-p: #000;
    --font-color1: #fff;
    --font-color2: #000;
    --font-color-socials: #000;
    --footer-bg: #B00D13;
    --hover-btn-primary: #f75842;
    --hover-btn-secondary: #;
    --hover-font-btn-secondary: #f75842;
    --light-bg: #FEEFEF;
    --light-bg: #FFF;
    --textured-bg: url(/assets/images/bg-texture.png);
    --transition: all 400ms ease;
}

.dark-theme {
    --color-avatar: #424890;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --color-bg-categories:#2e3267;
    --color-bg-courses:#;
    --color-bg-faqs:#2e3267;
    --color-bg-footer:#424890;
    --color-bg-footer-copyright: #6c63ff;
    --color-bg-testimonials:#;
    --color-btn1: transparent;
    --color-btn-primary: #f75842;
    --color-btn-secondary: #f75842;
    --color-header-bg: none;
    --color-light: transparent;
    --color-primary: #6c63ff;
    --color-socials: #fff;
    --color-success: #00bf8e;
    --color-toggle: #EDEC1C;
    --color-warning: #f7c94b;
    --dark-bg:#424890;
    --font-btn-primary: #fff;
    --font-btn-secondary: #fff;
    --font-color-socials: #fff;
    --font-category-h1:#fff;
    --font-category-h5: #fff;
    --font-category-p: #fff;
    --font-color1: #000;
    --font-color1:#000;
    --font-color2: #fff;
    --font-color2: #fff;
    --header-bg: transparent;
    --hover-btn-primary: transparent;
    --hover-btn-secondary: transparent;
    --hover-font-btn-secondary: #fff;
    --light-bg: #2e3267;
    --textured-bg: none;
}

header {
    background-image: var(--textured-bg);
    background-color: var(--color-header-bg);
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--font-color2);
    background: var(--color-bg);
    transition: background .4s ease-in-out;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
    color: var(--color-primary);
}

h3 {
    font-size: 1.6rem;
}

h4 {
    color: var(--color-primary);
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.waviy-stop {
    position: relative;
    font-size: 1.91rem;
    font-weight: 900;
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 2rem;
}

.waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: var(--color-white);
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.2s * var(--i));    
}

@keyframes waviy {
    0%,40%,100% {
    transform: translateY(0)
    }
    20% {
        transform: translateY(-0.9rem)
    }
}


/* ==================== NAVBAR ============================*/
nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

nav button {
    display:none;
}

nav button#toggle-menu-btn {
    display: block;
    color: var(--color-white);
    font-size: 1.5rem;
    background: transparent;
    cursor: pointer;
}

nav button#toggle-menu-btn:hover {
    color: var(--color-toggle);
    transition: 500ms ease-in-out;
}

.window-scroll {
    background: var(--color-primary);
    color: var(--color-black);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu li a {
    display: inline-block;
    position: relative;
    font-size: .9rem;
    transition: var(--transition);
    letter-spacing: 0.15em;
    text-decoration: none;
    padding: 0 .7rem;
}

.nav__menu li a::before {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -0.4rem;
    transition: width 0.25s ease-in-out;
}

.nav__menu li a:hover::before {
    width: 100%;
}

.nav__menu a:hover {
    color: var(--color-white);
}


/* ==================== HEADER ============================*/
.header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
    background-image: var(--textured-bg);
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
    padding-top: 5rem;
}

.header__container .btn-primary {
    background: var(--color-btn-primary);
    color: var(--font-btn-primary);
    margin-bottom: 2rem;
}

.header__container .btn-primary:hover {
    background-color: var(--hover-btn-primary);
    color: var(--color-white);
    border-color: var(--color-white);
}

.header__left h1 {
    color: var(--color-white);
    font-size: 2.6rem;
}

.header__left p {
    margin: 2.4rem 0 2.4rem;
    color: var(--color-white);
    font-size: 1.2rem;
}

.header__left a {
    background: var(--color-btn-primary);
}

/* ==================== CATEGORIES ========================*/
.categories {
    background: var(--light-bg);
    height: fit-content;
}

.categories h1 {
    /* line-height: 1rem; */
    color: var(--font-category-h1);
    margin-bottom: 3rem;
    margin-top: 0;
    padding-top: 0;
    font-size: 2.1rem;
}

.category h5 {
    margin: 2rem 0 1rem;
    color: var(--font-category-h5);
    font-weight: bolder;
}

.category p {
    color: var(--font-category-p);
    font-size: .85rem;
}

.categories__container {
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: 40% 60%;
}

.categories__left {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 1rem;
    height: 30rem;
    justify-content: center;
    align-items: center;
}

.categories__left a {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
    width: fit-content;
    background-color: #fff;
}

.categories__left p {
    margin: 0;
    font-size: 1.3rem;
    padding-right: 2rem;
}

.categories__left img {
    margin-top: 2rem;
    justify-content: center;
    max-width: 20vw;
    padding-left: 6rem;
}

.categories__left .btn-secondary {
    background: var(--color-btn-secondary);
    color: var(--font-btn-secondary);
}

.categories__left .btn-secondary:hover {
    background: var(--hover-btn-secondary);
    color: var(--hover-font-btn-secondary);
    border: 1px solid var(--hover-font-btn-secondary);
}

.categories__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.category {
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.category:hover {
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
    z-index: 1;
}

.category:nth-child(2) .category__icon {
    background: #AF0D7F;
    color: white;
}

.category:nth-child(3) .category__icon {
    color: white;
    background: #0DAFAA;
}

.category:nth-child(4) .category__icon {
    background: #0D13AF;
    color: white;
}

.category:nth-child(5) .category__icon {
    background: #590DAF;
    color: white;
}

.category:nth-child(6) .category__icon {
    background: #64AF0D;
    color: white;
}

.category__icon {
    background: #ffff00;
    color: black;
    padding: .7rem;
    border-radius: 0.9rem;
}


/* ==================== POPULAR COURSES ===================*/
.courses {
    background-image: var(--textured-bg);
    margin-top: 10rem;
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
    margin-top: 0;
}

.courses__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.course {
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.course:hover{
    background: transparent;
    border-color: var(--color-primary);
}

.course__info {
    padding: 2rem;
}

.course__info p{
    margin: 1.2rem 0 2rem;
    font-size: .9rem;
}

.course a {
    background: var(--color-btn-secondary);
    color: var(--font-btn-secondary);
}


/* ==================== TESTIMONIALS ======================*/
.testimonials__container {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 4rem;
}

.testimonial {
    padding-top: 2rem;
}

.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-avatar);
}

.testimonial__info {
    text-align: center;
}

.testimonial__body {
    background: var(--color-bg2);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
    border-radius: 20px;
}

.testimonial__body::before {
    content: "";
    display: block;
    background: linear-gradient(135deg,  transparent, var(--color-bg2),var(--color-bg2),var(--color-bg2));
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 45%;
    top: -1.5rem;
    transform: rotate(45deg);
}

.testimonial__body p {
    margin-top: .5rem;
}


/* ==================== FAQs ==============================*/
.faqs {
    background-image: var(--textured-bg);
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
}

.faqs__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq{
    display: flex;
    padding: 2rem;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-bg2);
    border-radius: 20px;
    cursor: pointer;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2rem;
    color: var(--font-color2);
}

.faq__icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p {
    margin-top: .8rem;
    color: var(--font-color2);
    display: none;
}

.faq.open p {
    display: block;
}


/* ==================== FOOTER ============================*/
.footer {
    /* padding-top: 1rem; */
    font-size: .9rem;
    background-color: var(--color-bg-footer);
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:5rem;
}

.footer__container > div h4 {
    margin-bottom: 1.2rem;
}

.footer__1 p {
    margin: 0 0 2rem;
}

.footer__5 img {
    max-width: 150px;
}

.footer ul li {
    margin-bottom: .7rem;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer__2 li a {
    color: var(--font-color2);
}

.footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer__socials li a{
    color: var(--color-socials); 
}

.footer__copyright {
    background: var(--color-bg-footer-copyright);
    color: var(--color-white);
    text-align: center;
    /* margin-top: 4rem; */
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-white);
}

.footer__logo {
    color: var(--color-primary);
}


/* ==================== @MEDIA FOR TABLETS ================*/
@media screen and (max-width:1024px) {
    .container {
        width: var(--container-width-md);
    }
    
    h1 {
        font-size: 2.2rem;
    }
    
    h2 {
        font-size: 1.7rem;
    }
    
    h3 {
        font-size: 1.4rem;
    }
    
    h4 {
        font-size: 1.2rem;
    }

    section {
        padding: 3rem 0;
    }

    /*=============== navbar ===============*/
    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }

    nav button#close-menu-btn {
        display: none;
    }

    .nav__menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav__menu li {
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav__menu li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav__menu li:nth-child(3) {
        animation-delay: 400ms;
    }

    .nav__menu li:nth-child(4) {
        animation-delay: 600ms;
        opacity: 0;
    }

    @keyframes animateNavItems {
        0% {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        100%{
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }

    .nav__menu li a {
        background: var(--color-primary);
        box-shadow: -4rem 6rem 10rem rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav__menu li a:hover {
        background: var(--color-bg2);
        color: var(--color-white);
    }

    
    /*=============== header ===============*/
    .header {
        height: 52vh;
        margin-bottom: 4rem;
        
    }
    
    .header__container {
        gap: 0;
        padding-bottom: 3rem;
    }

    
    /*=============== categories ===============*/
    .categories {
        height: auto;
    }
    
    .categories__container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    
    .categories__left {
        margin-right: 0;
    }

    .categories__left img {
        display: none;
    }
    
    
    /*=============== popular courses ===============*/
    .courses {
        margin-top: 0;
    }

    .courses__container {
        grid-template-columns: 1fr 1fr;
    }


    /*=============== faq ===============*/
    .faqs__container {
        grid-template-columns: 1fr;
    }

    .faq {
        padding: 1.5rem;
    }


    /*=============== footer ===============*/
    .footer__container {
        grid-template-columns: 1fr 1fr;
    }
}


/* ================ @MEDIA FOR PHONES ================*/
@media screen and (max-width:600px) {
    header {
        height: 100vh;
    }

    section {
        padding: 2rem 0;
    }
    .container {
        width: var(--container-width-sm);
    }

    .nav__menu {
        right: 3%;
    }
    
    .header__container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }
    
    .header__left p {
        margin-bottom: 1.3rem;
    }

    .header__right-image {
        max-width: 300px;
        margin: auto;
    }

    .categories__right {
        grid-template-columns: 1fr 1fr;
        gap: .7rem;
    }

    .category {
        padding: 1rem;
        border-radius: 1rem;
    }
    
    .category__icon {
        margin-top: 4px;
        display: inline-block;
    }

    .categories__left img {
        display: none;
    }

    
    /* ================ popular courses ================ */
    .courses__container {
        grid-template-columns: 1fr;
    }


    /* ================ testimonials ================ */
    .testimonial__body {
        padding: 1.2rem;
    }


    /* ================ footer ================ */
    .footer_container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer__1 p{
        margin: 1rem auto;
    }
    
    .footer__socials {
        justify-content: center;
    }


    /* ================ logo text ================ */
    .waviy {
        font-size: 1.6rem;
    }
}

@media screen and (max-width:405px) {
    header .container .btn-primary {
        background-color: var(--color-btn-secondary);
        color: white;
        margin-left: -190px;    
    }

    .header__right-image {
        display: none;
    }

    .container {
        margin: auto;
    }
}

@media screen and (max-width:375px) {
    .container {
        width: var(--container-width-sm);
        margin: 0 auto;
    }

    .header__container {
        height: fit-content;
    }

    .header__left p { 
        inline-size: auto;
        font-size: 1.1rem;
    }

    .header__left h1 { 
        font-size: 2.5rem;
    }

    .header__right-image {
        display: none;
    }

    .btn-primary {
        display: none;
    }

    .categories {
        margin: 0;
        height: fit-content;
        padding: 0;
    }

    .categories__left {
        margin-top: .5;
    }
}